* {
    padding : 0;
    margin : 0;
}

.header{
    display: flex;
    justify-content:center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: rgb(70, 73, 248);
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headertext{
    display: inline-block;
    justify-content: left;
    padding: 0.6rem;
    color: azure;  
}
.buttons{
     display: flex;
}
.buttonlogin{
    display: flex;
    justify-content: flex-end;
    margin-left: 55rem;
    border-radius: 20px;
}
.buttonsign{
   display: flex;
   justify-content: flex-end;
   margin-left: 1rem;
   border-radius: 20px;
}
.traininfo{
    transition: box-shadow .2s;
    margin-top: 5rem;
    margin-left: 10rem;
    width: 230px;
    height: 180px;
    border-radius: 10px;
    padding: 2rem;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ccc;
    float: left;
}
.traininfo:hover{
    box-shadow: 0 0 2rem rgba(117, 117, 117, 0.2);  
}

.footer{
    margin-top: 2rem;
    margin-left: 40rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.links{
    margin-left: 0.1cm;
}
.locationimg{
    display: flex;
    justify-content: center;
}